src/Training/src/Workflows/OrderCreatedFlow-8D51EF5F-C468-F111-AB0C-70A8A57EE5CB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_82e36"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "7def8684-dbce-40a5-9715-29b174bd8512"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "new_order",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "62e8bc06-b065-47a9-a3d2-005c8e05d205"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "new_customers",
              "recordId": "@triggerOutputs()?['body/_new_customer_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@outputs('Get_a_row_by_ID')?['body/new_email']"
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "new_orders",
                  "recordId": "@triggerOutputs()?['body/new_orderid']",
                  "item/new_ordercategory": 100000001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_a_row_1": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "new_orders",
                    "recordId": "@triggerOutputs()?['body/new_orderid']",
                    "item/new_ordercategory": 100000000
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_a_row_by_ID')?['body/new_customertype@OData.Community.Display.V1.FormattedValue']",
                  "Company"
                ]
              }
            ]
          },
          "type": "If"
        },
        "List_rows": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "new_orders",
              "$filter": "_new_customer_value eq @{triggerOutputs()?['body/_new_customer_value']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Compose_1": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@length(outputs('List_rows')?['body/value'])"
        },
        "Update_a_row_2": {
          "runAfter": {
            "Compose_1": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "new_customers",
              "recordId": "@outputs('Get_a_row_by_ID')?['body/new_customerid']",
              "item/new_ordercount": "@outputs('Compose_1')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}